<?xml version="1.0"?>
<robot name="roma">
  <link name="base_link" />

  <joint name="base_to_body" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0" />
    <parent link="base_link" />
    <child link="shell_link" />
  </joint>

  <joint name="neck_link_joint" type="revolute">
    <limit lower="-3.1400" upper="3.1400" effort="0.0000" velocity="0.0000" />
    <origin rpy="0.0000 0.0000 0.0000" xyz="-0.0896 0.0000 -0.0056" />
    <parent link="shell_link" />
    <child link="neck_link" />
    <axis xyz="0.0000 0.0000 1.0000" />
  </joint>
  <joint name="neck_holder_link_joint" type="revolute">
    <limit lower="-3.1400" upper="3.1400" effort="0.0000" velocity="0.0000" />
    <origin rpy="-0.0000 1.5708 -0.0000" xyz="-0.0437 0.0010 0.0469" />
    <parent link="neck_link" />
    <child link="neck_holder_link" />
    <axis xyz="0.0000 0.0000 1.0000" />
  </joint>
  <joint name="wheel_right_front_link_joint" type="continuous">
    <limit effort="10.0000" velocity="20.0000" />
    <origin rpy="-0.0000 -0.0000 -0.0000" xyz="-0.0655 0.0002 0.0488" />
    <parent link="feet_right_front_link" />
    <child link="wheel_right_front_link" />
    <axis xyz="0.0000 0.0000 -1.0000" />
  </joint>
  <joint name="camera_link_joint" type="revolute">
    <limit lower="-3.1400" upper="3.1400" effort="0.0000" velocity="0.0000" />
    <origin rpy="1.9752 -1.5708 -0.4044" xyz="0.0002 -0.0010 -0.0469" />
    <parent link="neck_holder_link" />
    <child link="camera_link" />
    <axis xyz="0.0000 0.0000 1.0000" />
  </joint>
  <joint name="feet_right_rear_link_joint" type="revolute">
    <limit lower="-3.1400" upper="3.1400" effort="0.0000" velocity="0.0000" />
    <origin rpy="-1.5708 0.0000 0.0000" xyz="0.0476 0.0521 -0.0565" />
    <parent link="shell_link" />
    <child link="feet_right_rear_link" />
    <axis xyz="0.0000 0.0000 -1.0000" />
  </joint>
  <joint name="wheel_right_rear_link_joint" type="continuous">
    <limit effort="10.0000" velocity="20.0000" />
    <origin rpy="-0.0000 0.0000 0.0000" xyz="0.0655 -0.0000 0.0483" />
    <parent link="feet_right_rear_link" />
    <child link="wheel_right_rear_link" />
    <axis xyz="0.0000 0.0000 -1.0000" />
  </joint>
  <joint name="feet_left_rear_link_joint" type="revolute">
    <limit lower="-3.1400" upper="3.1400" effort="0.0000" velocity="0.0000" />
    <origin rpy="1.5708 0.0000 -0.0000" xyz="0.0476 -0.0522 -0.0565" />
    <parent link="shell_link" />
    <child link="feet_left_rear_link" />
    <axis xyz="0.0000 0.0000 1.0000" />
  </joint>
  <joint name="wheel_left_rear_link_joint" type="continuous">
    <limit effort="10.0000" velocity="20.0000" />
    <origin rpy="0.0000 0.0000 -0.0000" xyz="0.0656 0.0001 0.0488" />
    <parent link="feet_left_rear_link" />
    <child link="wheel_left_rear_link" />
    <axis xyz="0.0000 0.0000 1.0000" />
  </joint>
  <joint name="feet_left_front_link_joint" type="revolute">
    <limit lower="-3.1400" upper="3.1400" effort="0.0000" velocity="0.0000" />
    <origin rpy="1.5708 0.0000 -0.0000" xyz="-0.0479 -0.0522 -0.0565" />
    <parent link="shell_link" />
    <child link="feet_left_front_link" />
    <axis xyz="0.0000 0.0000 1.0000" />
  </joint>
  <joint name="wheel_left_front_link_joint" type="continuous">
    <limit effort="10.0000" velocity="20.0000" />
    <origin rpy="0.0000 0.0000 0.0000" xyz="-0.0655 -0.0002 0.0488" />
    <parent link="feet_left_front_link" />
    <child link="wheel_left_front_link" />
    <axis xyz="0.0000 0.0000 1.0000" />
  </joint>
  <joint name="feet_right_front_link_joint" type="revolute">
    <limit lower="-3.1400" upper="3.1400" effort="0.0000" velocity="0.0000" />
    <origin rpy="-1.5708 0.0000 -0.0000" xyz="-0.0479 0.0522 -0.0565" />
    <parent link="shell_link" />
    <child link="feet_right_front_link" />
    <axis xyz="0.0000 0.0000 -1.0000" />
  </joint>
  <link name="shell_link">
    <collision name="shell_collision">
      <origin rpy="0.0000 0.0000 0.0000" xyz="0.0000 0.0000 0.0000" />
      <geometry>
        <box size="0.21 0.12 0.14" />
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.0018" ixy="0.0000" ixz="-0.0007" iyy="0.0027" iyz="0.0000" izz="0.0015" />
      <origin rpy="0.0000 0.0000 0.0000" xyz="0.0134 0.0001 0.0060" />
      <mass value="0.5000" />
    </inertial>
    <visual name="shell">
      <material name="Part__Feature001.011" />
      <origin rpy="0.0000 0.0000 0.0000" xyz="0.0000 0.0000 0.0000" />
      <geometry>
        <mesh filename="package://roma_description/meshes/visual/Part__Feature001.010.dae"
          scale="1 1 1" />
      </geometry>
    </visual>
  </link>
  <link name="neck_link">
    <collision name="neck_collision">
      <origin rpy="0.0000 0.0000 0.0000" xyz="0.0000 -0.0000 0.0000" />
      <geometry>
        <mesh
          filename="package://roma_description/meshes/collision/cgo3_vertical_arm_remeshed_v1.001.stl"
          scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.0000043" ixy="0.0" ixz="0.0" iyy="0.0000043" iyz="0.0" izz="0.0000003" />
      <origin rpy="0.0000 0.0000 0.0000" xyz="-0.0236 -0.0000 0.0190" />
      <mass value="0.0200" />
    </inertial>
    <visual name="neck">
      <material name="Material.003" />
      <origin rpy="0.0000 0.0000 0.0000" xyz="0.0000 -0.0000 0.0000" />
      <geometry>
        <mesh
          filename="package://roma_description/meshes/visual/cgo3_vertical_arm_remeshed_v1.001.dae"
          scale="1 1 1" />
      </geometry>
    </visual>
  </link>
  <link name="feet_right_front_link">
    <collision name="feet_right_front_collision">
      <origin rpy="1.5708 0.0000 0.0000" xyz="0.0000 -0.0000 0.0000" />
      <geometry>
        <mesh filename="package://roma_description/meshes/collision/Part__Feature075.026.stl"
          scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.0001" ixy="-0.0000" ixz="0.0000" iyy="0.0002" iyz="0.0000" izz="0.0002" />
      <origin rpy="0.0000 0.0000 0.0000" xyz="-0.0535 -0.0008 0.0076" />
      <mass value="0.2000" />
    </inertial>
    <visual name="feet_right_front">
      <material name="purple" />
      <origin rpy="1.5708 0.0000 -0.0000" xyz="0.0000 -0.0000 0.0000" />
      <geometry>
        <mesh filename="package://roma_description/meshes/visual/Part__Feature075.026.dae"
          scale="1 1 1" />
      </geometry>
    </visual>
  </link>
  <link name="wheel_right_front_link">
    <collision name="wheel_right_front_collision">
      <origin rpy="1.5708 0.0000 0.0000" xyz="-0.0001 -0.0002 0.0048" />
      <geometry>
        <mesh filename="package://roma_description/meshes/collision/Part__Feature075.005.stl"
          scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.0000043" ixy="0.0" ixz="0.0" iyy="0.0000043" iyz="0.0" izz="0.0000080" />
      <origin rpy="0.0000 0.0000 0.0000" xyz="0.0002 -0.0002 0.0048" />
      <mass value="0.0400" />
    </inertial>
    <visual name="wheel_right_front">
      <material name="bones.001" />
      <origin rpy="1.5708 0.0000 0.0000" xyz="-0.0001 -0.0002 0.0048" />
      <geometry>
        <mesh filename="package://roma_description/meshes/visual/Part__Feature075.005.dae"
          scale="1 1 1" />
      </geometry>
    </visual>
  </link>
  <link name="neck_holder_link">
    <collision name="neck_holder_collision">
      <origin rpy="0.2104 -1.5708 -0.2104" xyz="0.0000 -0.0000 0.0000" />
      <geometry>
        <mesh
          filename="package://roma_description/meshes/collision/cgo3_horizontal_arm_remeshed_v1.001.stl"
          scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.0000031" ixy="0.0" ixz="0.0" iyy="0.0000031" iyz="0.0" izz="0.0000001" />
      <origin rpy="0.0000 0.0000 0.0000" xyz="0.0002 -0.0000 -0.0287" />
      <mass value="0.0100" />
    </inertial>
    <visual name="neck_holder">
      <material name="green" />
      <origin rpy="0.6040 -1.5708 -0.6040" xyz="0.0000 -0.0000 0.0000" />
      <geometry>
        <mesh
          filename="package://roma_description/meshes/visual/cgo3_horizontal_arm_remeshed_v1.001.dae"
          scale="1 1 1" />
      </geometry>
    </visual>
  </link>
  <link name="camera_link">
    <collision name="camera_collision">
      <origin rpy="-1.5708 0.0000 0.0000" xyz="0.0000 -0.0000 -0.0000" />
      <geometry>
        <mesh filename="package://roma_description/meshes/collision/cgo3_camera_remeshed_v1.002.stl"
          scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.0000150" ixy="0.0" ixz="0.0" iyy="0.0000150" iyz="0.0" izz="0.0000150" />
      <origin rpy="0.0000 0.0000 0.0000" xyz="-0.0042 0.0007 -0.0009" />
      <mass value="0.1000" />
    </inertial>
    <visual name="camera">
      <material name="Material.001" />
      <origin rpy="-1.5708 0.0000 0.0000" xyz="0.0000 -0.0000 -0.0000" />
      <geometry>
        <mesh filename="package://roma_description/meshes/visual/cgo3_camera_remeshed_v1.002.dae"
          scale="1 1 1" />
      </geometry>
    </visual>
  </link>
  <link name="feet_right_rear_link">
    <collision name="feet_right_rear_collision">
      <origin rpy="1.5708 0.0000 0.0000" xyz="-0.0000 -0.0000 0.0000" />
      <geometry>
        <mesh filename="package://roma_description/meshes/collision/Part__Feature075.027.stl"
          scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.0001" ixy="0.0000" ixz="-0.0000" iyy="0.0002" iyz="0.0000" izz="0.0002" />
      <origin rpy="0.0000 0.0000 0.0000" xyz="0.0535 -0.0008 0.0073" />
      <mass value="0.2000" />
    </inertial>
    <visual name="feet_right_rear">
      <material name="purple" />
      <origin rpy="1.5708 0.0000 0.0000" xyz="-0.0000 -0.0000 0.0000" />
      <geometry>
        <mesh filename="package://roma_description/meshes/visual/Part__Feature075.027.dae"
          scale="1 1 1" />
      </geometry>
    </visual>
  </link>
  <link name="wheel_right_rear_link">
    <collision name="wheel_right_rear_collision">
      <origin rpy="1.5708 0.0000 0.0000" xyz="0.0001 -0.0000 -0.0000" />
      <geometry>
        <mesh filename="package://roma_description/meshes/collision/Part__Feature075.001.stl"
          scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.0000043" ixy="0.0" ixz="0.0" iyy="0.0000043" iyz="0.0" izz="0.0000080" />
      <origin rpy="0.0000 0.0000 0.0000" xyz="0.0002 0.0000 0.0047" />
      <mass value="0.0400" />
    </inertial>
    <visual name="wheel_right_rear">
      <material name="wheels_material" />
      <origin rpy="1.5708 0.0000 0.0000" xyz="0.0001 -0.0000 -0.0000" />
      <geometry>
        <mesh filename="package://roma_description/meshes/visual/Part__Feature075.001.dae"
          scale="1 1 1" />
      </geometry>
    </visual>
  </link>
  <link name="feet_left_rear_link">
    <collision name="feet_left_rear_collision">
      <origin rpy="-1.5708 0.0000 -0.0000" xyz="-0.0000 0.0000 0.0000" />
      <geometry>
        <mesh filename="package://roma_description/meshes/collision/Part__Feature075.028.stl"
          scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.0001" ixy="-0.0000" ixz="-0.0000" iyy="0.0002" iyz="-0.0000" izz="0.0002" />
      <origin rpy="0.0000 0.0000 0.0000" xyz="0.0535 0.0008 0.0076" />
      <mass value="0.2000" />
    </inertial>
    <visual name="feet_left_rear">
      <material name="purple" />
      <origin rpy="-1.5708 0.0000 0.0000" xyz="-0.0000 0.0000 0.0000" />
      <geometry>
        <mesh filename="package://roma_description/meshes/visual/Part__Feature075.028.dae"
          scale="1 1 1" />
      </geometry>
    </visual>
  </link>
  <link name="wheel_left_rear_link">
    <collision name="wheel_left_rear_collision">
      <origin rpy="-1.5708 0.0000 0.0000" xyz="0.0000 -0.0003 0.0053" />
      <geometry>
        <mesh filename="package://roma_description/meshes/collision/Part__Feature075.020.stl"
          scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0.0000 -0.0003 0.0053" rpy="0 0 0" />
      <mass value="0.0400" />
      <inertia ixx="0.0000043" ixy="0.0" ixz="0.0" iyy="0.0000043" iyz="0.0" izz="0.0000080" />
    </inertial>
    <visual name="wheel_left_rear">
      <material name="Part__Feature074.001" />
      <origin rpy="-1.5708 0.0000 0.0000" xyz="0.0000 -0.0003 0.0053" />
      <geometry>
        <mesh filename="package://roma_description/meshes/visual/Part__Feature075.020.dae"
          scale="1 1 1" />
      </geometry>
    </visual>
  </link>
  <link name="feet_left_front_link">
    <collision name="feet_left_front_collision">
      <origin rpy="-1.5708 0.0000 0.0000" xyz="0.0000 0.0000 0.0000" />
      <geometry>
        <mesh filename="package://roma_description/meshes/collision/Part__Feature075.008.stl"
          scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.0001" ixy="0.0000" ixz="0.0000" iyy="0.0002" iyz="-0.0000" izz="0.0002" />
      <origin rpy="0.0000 0.0000 0.0000" xyz="-0.0535 0.0008 0.0076" />
      <mass value="0.2000" />
    </inertial>
    <visual name="node131.004">
      <material name="purple" />
      <origin rpy="-1.5708 0.0000 0.0000" xyz="0.0000 0.0000 0.0000" />
      <geometry>
        <mesh filename="package://roma_description/meshes/visual/Part__Feature075.087.dae"
          scale="1 1 1" />
      </geometry>
    </visual>
    <visual name="feet_left_front">
      <material name="purple" />
      <origin rpy="-1.5708 0.0000 0.0000" xyz="0.0000 0.0000 0.0000" />
      <geometry>
        <mesh filename="package://roma_description/meshes/visual/Part__Feature075.008.dae"
          scale="1 1 1" />
      </geometry>
    </visual>
  </link>
  <link name="wheel_left_front_link">
    <collision name="wheel_left_front_collision">
      <origin rpy="-1.5708 0.0000 0.0000" xyz="-0.0001 0.0001 0.0053" />
      <geometry>
        <mesh filename="package://roma_description/meshes/collision/Part__Feature075.019.stl"
          scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.0000043" ixy="0.0" ixz="0.0" iyy="0.0000043" iyz="0.0" izz="0.0000080" />
      <origin rpy="0.0000 0.0000 0.0000" xyz="-0.0002 0.0004 0.0047" />
      <mass value="0.0400" />
    </inertial>
    <visual name="wheel_left_front">
      <material name="Part__Feature074.001" />
      <origin rpy="-1.5708 0.0000 0.0000" xyz="-0.0001 0.0001 0.0053" />
      <geometry>
        <mesh filename="package://roma_description/meshes/visual/Part__Feature075.019.dae"
          scale="1 1 1" />
      </geometry>
    </visual>
  </link>
  <material name="Material.001">
    <color rgba="0.1804 0.0000 0.0000 1.0000" />
  </material>
  <material name="Material.003">
    <color rgba="0.0000 0.0000 0.1098 1.0000" />
  </material>
  <material name="Part__Feature001.011">
    <color rgba="0.0000 0.5961 0.0078 1.0000" />
  </material>
  <material name="Part__Feature074.001">
    <color rgba="0.2941 0.2745 0.0000 1.0000" />
  </material>
  <material name="bones.001">
    <color rgba="0.0000 0.0000 0.0000 1.0000" />
  </material>
  <material name="green">
    <color rgba="0.0902 0.0000 0.0863 1.0000" />
  </material>
  <material name="purple">
    <color rgba="0.0314 0.0039 0.0275 1.0000" />
  </material>
  <material name="wheels_material">
    <color rgba="0.0000 0.0000 0.0000 1.0000" />
  </material>
</robot>